	@media only screen and (max-width:1080px) {		
		.wrapper {
			border: none;
			margin: 0;
			width: 100%;
		}
	
	}
        
        @media only screen and (max-width:733px) {
            #headerMainTag{
                font-size:2.2rem;
            }
        }
	
        @media only screen and (max-width:660px){
            header{
                text-align:center;
            }
            #headerMainTagline,.mainContent, .subContent, .headerTagline, #headerMainTag, #headerMainTagline, #headlineMain{
                text-align:center;
                float:none;
                width:100%;
                box-sizing:border-box;
            }
            #logo{
                width:20%;
            }
            #headerMainTagline {
                margin: 12px 0 12px 1.5%;                
                text-align: center;
            }
            h2{
                margin:24px 0 24px 4.545454545454545%;                
            }	
            .tagline {
                font-size: 1.3rem;
                line-height: 1.3;
                margin: 0 4.54545454545% 0.8rem 0;
                float:left;
            }                
            .mainContent,
            .subContent {			
                box-sizing: border-box;
                float: none;
                padding: 36px 4.54545454545%;
                width: 100%;
            }		

            .subContent h2:first-of-type {
                margin-top: 0;
            }

            .portrait {
                float: right;
                margin: 0 0 30% 5%;
                width: 47.5%;
            }

            article {
                background-position: 92% bottom;
                background-size: 43.18181818%;
            }

        }
        @media only screen and (max-width:420px){
            #logo{
                float:none;
                width:35%;
                display:block;
                margin:3% 0 0 0;                
            }
            #headerMainTagline{                
                margin:15.54545454%;                
            }
            .headerTagline{
                font-size:1.4rem;
                float:none;
                margin:4.54545454;
                width:90.90909091%;
                text-align:center;
            }
        }
	/*
	@media screen and (max-width: 440px) {
	
		h1 {
			float: none;
			margin-top: 7%;
			margin-bottom: 0;
			max-width: 90.90909091%;
		}
	
		.headerTagline {
			float: none;
			margin: 4.54545454545%;
			width: 90.90909091%;
		}
	
	}*/