/* Resets */
* {
    margin: 0; 
    padding: 0;
}

/*img { -ms-interpolation-mode: bicubic; }*/


/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}

.cf:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
/*************** DEFINITION DER GRUNDELEMENTE ********************/
body {
    background: #e6e6e6 url(img/paper-bg.jpg) left top repeat fixed;	
    color: #333;
    font-family: myriad-pro-condensed, sans-serif;
    /*font-size: 93.75%;*/
    font-size:100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: myriad-pro-condensed, sans-serif;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    margin: 0 0 1rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 30px 0 1rem;
}
a{
    color:white;
}
header{
    padding:0.2rem 2rem;
}
embed, object, video, iframe{
    max-width:100%;
}
#headerMainTagline{
    font-size:2rem;        
}

.subContent h2,
.subContent h3 {
    font-family: myriad-pro, sans-serif;
    font-weight: bold;
} 
#view{
   background: whitesmoke; 
}
.subContent h2 {
    font-size: 1.2rem;
    margin: 1rem 0 0;
}

.subContent h3 {
    color: #333;
    font-size: 1rem;
    margin: 1rem 0 0;
}

p {
    margin: 0 0 1rem;
}
nav{
   width:100%;
   margin:0 0 3% 0; 
}
ul {
    margin-left: .2rem;
    list-style:none;
}
ul li{
    border: 1px solid lightgray;
    border-radius: 5px;
    background:#255672;
    color: darkgray;
    box-shadow: 0 0 4px black;    
    text-align: center;
    padding: 3.5% 0;
}
ul li a{
    text-decoration:none;
}
ul li:hover {
    background: lightslategray;
    color:darkgreen;
    transition: all .3s ease-in-out;
}

.wrapper {
    background: #e6e6e6;
    border: 1px solid #ccc; 
    border-bottom: none;
    margin: 48px auto 0;		
    max-width: 1080px;
    width:90%;
    box-shadow: 0 0 10px whitesmoke;
}

header {
    background: #255672;
    color: #fff;
}

article {
    background: transparent url(img/grafik2.png) 97.22222222222222% bottom no-repeat;
    background-size:27.77777777777778% auto;
}

.mainContent {
    background: #fff;
    float: left;
    padding: 48px 5%;
    width:90%;
}
.subContent{
    float: left;
    padding: 4% 3%;    
    width: 94%;
}
footer {
    background: #255672;
    color: #fff;
    clear: both;
    padding: 15px 60px 1px;
    text-align: center;
}


/****************DEFINITION DER EINZELNEN ELEMENTE*********************/
/****HEADER****/
#logo{    
    float:left;
    width:65%;     
    margin:1.83856502242152% auto 0 20%;
    height:auto;
}
.headerSubTagline {
    float:  right;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 1.4;
    margin: 0.5rem 2.5252526%;    
}
#imprDsv{
    width:100%;
    height:1.5rem;
    background:#e8e8e8;
}
#aImpressum, #aDatenschutz{
    float:left;
    margin:0 2%;
}
#aImpressum:hover, #aDatenschutz:hover{
    color:darkgreen;
}
#aDatenschutz{
    float:right;
}
#imprDsv a, #articleDatenschutz a, #hauptfeld a{
    color: blue;
    font-style: italic;
    text-decoration: none;
}
/************MAIN-SITE*************/
#startPic{
    height:auto;
    max-width:100%;
    float:left;
    margin:0 2rem 1rem 0;
}
#headerMainTag{
    font-size: 2.3rem;
    text-shadow:0 0 5px darkblue;
    text-align:center;
}

#headlineMainsite{
    text-align:center;
    font-size:1.7rem;
}
#headerMainTagline{
    font-size:3rem;    
    height:auto;
}
#subtitleMainsite{
    font-size:120%;
    text-align:center;
}
/****************ASIDE****************/
.portrait {
    height:auto;
    max-width: 100%;
    margin:0 4.57506361323155%;;
}
/**************UNTERSEITEN******************/
#article1Kanzlei, #articleDatenschutz, #hauptfeld, #articleImpressum{
    padding:1% 2%;
    background:whitesmoke;
}section#articleImpressum a, section#articleDatenschutz a{
    color: darkblue;
}
#hauptfeld{
    padding:3% 4%;
}
section#gebiete{
    padding: 2% 0;
    text-align:center;
}
article.articleGebiete{
    font-size: 1.3rem;
    border: 1px solid #b0b1b5;
    cursor: pointer;
    border-radius: 9%;
    width: 50%;
    margin: 1% auto;
    background: #e6e3e3;
    box-shadow: 0 0 5px #255672;
}
article#familienrecht:hover ~ article#familienrecht div{
    display:block;
}
article.articleGebiete div{
    font-size:1rem;
    display:none;
}
input, textarea, select, #dataCheck, #inputSubmit{
    margin: 2%;
    padding: 4%;
}
#dataCheck{
    width:1.5rem;
    height:1.5rem;
}
#inputSubmit{
    font-size:1.3rem;
}

/*Test background-size (bgs) */

/* Beispiel 1
header {
        background: #078577 url(img/test-bgs.png) 50% 50% no-repeat; 
        background-size: auto 100%;
}*/

/* Beispiel 2
header {
        background-size: 100% 100%;
}

 Beispiel 3
header {
        background-size: cover;
}

 Beispiel 4
header {
        background-size: contain;
}*/